body {
    background-color: #242830;
    font-family: 'Inter';
    text-align: center;
  }
  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 114px; 
    color: white;
    height: 114px; 
  }
  
  h4 {
    color: rgba(255, 255, 255, 0.454);
    font-weight: 500;
    margin-top: -40px;
  }
  span {
    color: white;
  }
  textarea {
    background-color: #292b30; 
    color: white; 
    text-align: center !important;
    resize: none;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    overflow-y: scroll;
    align-items: center; 
    justify-content: center;
    padding: 10px; 
}
  textarea::-webkit-scrollbar {
    display: none;
  }
  .accept-terms-checkbox {
    position: absolute;
    bottom: -30px;
    left: 140px;
    color: white;
  }
  .dark-theme-container {
    position: relative;
  }
  .install-button-container {
    position: relative;
  }

  .btn-return {
    position: absolute;
    bottom: 25px;
    left: 35px;
    height: 50px !important;
    line-height: 50px !important;
    width: 50px !important;
    font-size: 1em !important;
    font-weight: bold !important;
    border-radius: 50% !important;
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    text-align: center !important;
    cursor: pointer !important;
    border: none !important;
  }

  .btn-return:disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
  }

  /* Estilos para el botón "Next" */
  .btn-next {
    position: absolute;
    bottom: 25px;
    right: 35px; /* Alineado a la derecha */
    height: 50px !important;
    line-height: 50px !important;
    width: 50px !important;
    font-size: 1em !important;
    font-weight: bold !important;
    border-radius: 50% !important;
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    text-align: center !important;
    cursor: pointer !important;
    border: none !important;
  }

  .btn-next:disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
  }
  h2 {
    color: white;
    font-weight: 10;
    color: white;
  }
  .gradiant {
    background: #27CF15;
    background: radial-gradient(ellipse farthest-corner at center center, #27CF15 0%, #15B0CF 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
  }
  .final {
    color: white;
    margin-top: 150px;
    font-weight: 100;
  }
  .warning-msg,
  .error-msg {
    margin: 10px auto; 
    padding: 10px;
    border-radius: 3px;
    text-align: center; 
    max-width: 100px;
    color: #9F6000;
    background-color: #FEEFB3;
  }