label{
    color: white;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 3px;
  }
  textarea {
    color: white !important;
    font-weight: 500 !important;
    padding: 8px !important;
    border-radius: 5px !important;
    border: 2px solid #00ff37 !important;
    outline: none !important; 
    resize: none !important; 
  }

  textarea:focus {
    border-color: #00ff37 !important;
  }
input[type="text"] {
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
  }

  button[type="button"] {
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px 8px;
    background-color: #00ff3776;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  button[type="button"]:hover {
    background-color: #00ff371e; 
  }
